.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
raw_data/*.json
raw_data/*.json.gz
raw_data/landing/
raw_data/bronze/
raw_data/silver/
raw_data/gold/
*.parquet
.java8/
.jdk17/
.rclone/
.dagster_home/
.tmp_dagster_home_*/
